body {
  font-family: Arial, sans-serif;
  background-image: url('C:/Rujuta/mail-app-studentname1/src/assets/images/bg.webp');
  background-size: cover;
  background-position: center;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red-letter {
  color: rgb(219, 85, 85);
}

h1 {
  font-size: 40px;
  font-family: 'Arial, sans-serif';
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: center;
  margin-top: 40px;
  color: #535252;
  animation: fadeInOut 3s infinite;
}

@keyframes fadeInOut {
  0%, 20% { opacity: 1; }
  80%, 100% { opacity: 0; }
}

/* Container for login and register forms */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 80%;
  margin-top:50px;
  margin-right:55px;
  margin-left:105px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 2px 2px #4416758c;
}

/* Common styling for both forms */
.form-container {
  width: 45%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px #4139a1;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.form-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.input-group {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.input-group label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #777;
}

.input-group input {
  width: 80%;
  padding: 10px 40px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.forgot-password {
  display: block;
  text-align: right;
  color: #777;
  text-decoration: none;
  margin-bottom: 20px;
}

.forgot-password:hover {
  text-decoration: underline;
}

.login-button {
  width: 96%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.login-button:hover {
  background: linear-gradient(to right, #2575fc, #6a11cb);
  transform: scale(1.05);
}

/* Responsive layout for smaller screens */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .form-container {
    width: 100%;
    margin-bottom: 20px;
  }
}
