.box {
  width: 90%;
  max-width: 1100px;
  margin: 25px auto;
  padding: 20px;
  background: rgb(255, 255, 255);
  box-shadow: 0 0px 18px #3f3f87;
  border-radius: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: #1544795c;
  padding: 10px 20px;
  border-radius: 8px;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-right {
  display: flex;
  align-items: center;
}

.btn-unread, .btn-add, .btn-tab, .btn-edit, .btn-delete {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.btn-unread {
  background-color: rgba(162, 222, 233, 0.7);
  color: rgb(15, 42, 93);
}

.btn-add {
  background-color: rgb(139, 248, 179);
  font-size: 18px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.btnunread{
  color:black;
  border-style: hidden ;
  background-color: #ceebff;
  border-color: rgb(56, 55, 55);
  border-radius: 3px;
  padding: 6px;
}
.tab-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.btn-tab {
  /* background-color: #000000; */
  color: rgb(2, 4, 55);
  margin: 0 5px;
  width: 80px;
  border-style:groove;
  border-radius: 8px;
  border-color: rgb(148, 144, 144);
}
/* Star icon styling */
.star-icon {
  cursor: pointer;
  font-size: 22px;
  color:rgb(150, 145, 145) ;
  
   /* Black for non-starred */
  transition: color 0.3s ease;
}

.star-icon.starred {
  color: gold; /* Gold for starred */
}
.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.icon-button:hover {
  opacity: 0.7;
}

.btn-edit {
  background-color: #d3ffd3;
  color: rgb(49, 80, 3);
}

.btn-delete {
  background-color: #ffcccc;
  color: rgb(255, 47, 47);
 
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px; 
  font-size: 16px;
}
/* Adjust column widths */
th:nth-child(4), td:nth-child(4) { /* Name column */
  width: 18%;
}

th:nth-child(5), td:nth-child(5) { /* Mail Type column */
  width: 15%;
}

th:nth-child(7), td:nth-child(7) { /* Date column */
  width: 12%;
}
th, td {
  padding: 8px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  vertical-align: middle;
}
.user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.btn-unread:hover, .btn-add:hover, .btn-tab:hover, .btn-edit:hover, .btn-delete:hover {
  background-color: #ccc; 
}
